<body>
    <h1>
        <strong>Todo Material</strong>
    </h1>
    <div [formGroup]="todoForm">
        <mat-card class="header-card">
            <mat-form-field>
                <input matInput placeholder="Input" formControlName="inputControl" (keyup.enter)="addTodo(todoForm)">
            </mat-form-field>
        </mat-card>
        <mat-card class="header-card">
            {{ todoArray?.length }} Tâches.
        </mat-card>
        <mat-card>
            <div class="header-todo" *ngIf="todoArray?.length == 0">
                <h2>Votre Todo list est vide</h2>
                <mat-icon>playlist_add</mat-icon>
            </div>
            <div>
                <div class="list-div" *ngFor="let todo of todoArray">
                    <div class="list-div-sub">
                        <mat-checkbox color="primary" (change)="onChange($event,todo)"></mat-checkbox>
                        <span>{{ todo }}</span>
                    </div>
                    <button mat-icon-button color="warn" (click)="deleteTodo(todo)">
                        <mat-icon aria-label="Example icon-button with a heart icon">delete_forever</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card>

        <mat-card class="header-card">
            <mat-form-field>
                <input matInput placeholder="Recherche une tâche" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </mat-card>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ todoArrayFinish?.length }} Taches faites
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p *ngFor="let todoF of todoArrayFinish | taskSearch : searchText">{{ todoF }}</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

</body>